In [1]:
import pandas as pd
import numpy as np
import datetime
import pandas as pd
import numpy as np
from datetime import *
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import roc_curve, roc_auc_score, classification_report 
from sklearn.metrics import confusion_matrix, accuracy_score, precision_recall_curve
from sklearn import svm, metrics
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from tensorflow.keras import datasets, layers, models
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, Masking, Embedding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from tensorflow.keras.optimizers import SGD
from tensorflow.random import set_seed
import nibabel as nib
import numpy as np
import matplotlib.pyplot as plt
import pyarrow as py
from pyarrow import csv
set_seed(455)
np.random.seed(455)

In [2]:
### importing flair dbs: 
p61_65flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 61 to 65 - flair.csv')
print('1/7')
p1_10flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 1 to 10 - flair.csv')
print('2/7')
p11_20flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 11 to 20 - flair.csv')
print('3/7')
p21_30flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 21 to 30 - flair.csv')
print('4/7')
p31_40flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 31 to 40 - flair.csv')
print('5/7')
p41_50flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 41 to 50 - flair.csv')
print('6/7')
p51_60flair = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 51 to 60 - flair.csv')
print('7/7')

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3/7
4/7
5/7
6/7
7/7

In [3]:
p61_65flair = p61_65flair.drop(2).reset_index()

In [4]:
p61_65flair

,index,Unnamed: 0,0,1,2,3,4
0,0,IDs,61,62,63,64,65
1,1,Diagnosis,Grade 2 Astrocytoma,Grade 3 Astrocytoma,Test,Grade 2 Astrocytoma,Grade 3 Oligo
2,3,0,0.0,0.0,0.0,0.0,0.0
3,4,1,0.0,0.0,0.0,0.0,0.0
4,5,2,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
8927997,8927998,8927995,0.0,0.0,0.0,0.0,0.0
8927998,8927999,8927996,0.0,0.0,0.0,0.0,0.0
8927999,8928000,8927997,0.0,0.0,0.0,0.0,0.0
8928000,8928001,8927998,0.0,0.0,0.0,0.0,0.0
8928001,8928002,8927999,0.0,0.0,0.0,0.0,0.0

In [5]:
flair_df = pd.concat([p1_10flair,p11_20flair,p21_30flair, p31_40flair, p41_50flair, p51_60flair, p61_65flair], axis = 1)

In [21]:
flair_df = flair_df.drop(flair_df.columns[[10,21,32,43,54,65,66]], axis = 1)

In [23]:
flair_df.to_csv('Final Flair Dataframe.csv')

In [2]:
g = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 61 to 65 - t1.csv')
print('1/7')
a = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 1 to 10 - t1.csv')
print('2/7')
b = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 11 to 20 - t1.csv')
print('3/7')
c = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 21 to 30 - t1.csv')
print('4/7')
d = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 31 to 40 - t1.csv')
print('5/7')
e = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 41 to 50 - t1.csv')
print('6/7')
f = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 51 to 60 - t1.csv')
print('7/7')

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3/7
4/7
5/7
6/7
7/7

In [4]:
t1df = pd.concat([a,b,c,d,e,f,g], axis = 1)

In [14]:
t1df= t1df.drop(t1df.columns[[10,21,32,43,54,65]], axis = 1)

In [15]:
t1df

,0,1,2,3,4,5,6,7,8,0,...,5,6,7,8,9,0,1,2,3,4
0,1,2,3,4,5,6,7,8,9,11,...,56,57,58,59,60,61,62,63,64,65
1,Grade 2 Astro,GBM,GBM,GBM,GBM,GBM,Grade Unk Oligo,GBM,GBM,Grade Unk Oligo,...,Grade 2 Oligo,GBM,Grade 2 Astrocytoma,Grade 3 Astrocytoma,Grade 2 Astrocytoma,Grade 2 Astrocytoma,Grade 3 Astrocytoma,Test,Grade 2 Astrocytoma,Grade 3 Oligo
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8927997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8927998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8927999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8928000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8928001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
t1df.to_csv('Final t1 Dataframe.csv')

In [2]:
g = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 61 to 65 - t1ce.csv')
print('1/7')
a = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 1 to 10 - t1ce.csv')
print('2/7')
b = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 11 to 20 - t1ce.csv')
print('3/7')
c = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 21 to 30 - t1ce.csv')
print('4/7')
d = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 31 to 40 - t1ce.csv')
print('5/7')
e = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 41 to 50 - t1ce.csv')
print('6/7')
f = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 51 to 60 - t1ce.csv')
print('7/7')

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3/7
4/7
5/7
6/7
7/7

In [4]:
t1cedf = pd.concat([a,b,c,d,e,f,g], axis = 1)
t1cedf= t1cedf.drop(t1cedf.columns[[10,21,32,43,54,65]], axis = 1)
t1cedf.to_csv('Final t1ce Dataframe.csv')

In [2]:
g = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 61 to 65 - t2.csv')
print('1/7')
a = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 1 to 10 - t2.csv')
print('2/7')
b = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 11 to 20 - t2.csv')
print('3/7')
c = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 21 to 30 - t2.csv')
print('4/7')
d = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 31 to 40 - t2.csv')
print('5/7')
e = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 41 to 50 - t2.csv')
print('6/7')
f = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/CSVs 2/Patients 51 to 60 - t2.csv')
print('7/7')

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2/7

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3/7
4/7
5/7
6/7
7/7

In [3]:
t2df = pd.concat([a,b,c,d,e,f,g], axis = 1)
t2df= t2df.drop(t2df.columns[[10,21,32,43,54,65]], axis = 1)
t2df.to_csv('Final t2 Dataframe.csv')

In [2]:
#Testing runtime with t1 dataframe
t1data = pd.read_csv('/Users/Max1/Desktop/MSDS-498 A.2. and Prep/Final t1 Dataframe.csv')

/Users/Max1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
t1data